In [7]:
import pandas as pd
from sklearn import tree
from sklearn.model_selection import train_test_split

data = pd.read_csv("./BLE_RSSI_dataset/iBeacon_RSSI_Labeled.csv")
data.head()

,location,date,b3001,b3002,b3003,b3004,b3005,b3006,b3007,b3008,b3009,b3010,b3011,b3012,b3013
0,O02,10-18-2016 11:15:21,-200,-200,-200,-200,-200,-78,-200,-200,-200,-200,-200,-200,-200
1,P01,10-18-2016 11:15:19,-200,-200,-200,-200,-200,-78,-200,-200,-200,-200,-200,-200,-200
2,P01,10-18-2016 11:15:17,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200
3,P01,10-18-2016 11:15:15,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200
4,P01,10-18-2016 11:15:13,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200

In [8]:
#drop Time
newdata = data.drop(columns=['date']);
newdata.head()

,location,b3001,b3002,b3003,b3004,b3005,b3006,b3007,b3008,b3009,b3010,b3011,b3012,b3013
0,O02,-200,-200,-200,-200,-200,-78,-200,-200,-200,-200,-200,-200,-200
1,P01,-200,-200,-200,-200,-200,-78,-200,-200,-200,-200,-200,-200,-200
2,P01,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200
3,P01,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200
4,P01,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200

In [11]:
#划分训练集和测试集
from sklearn.model_selection import train_test_split
#X_train, X_test, Y_train, Y_test = train_test_split(train_data, train_target, random_state=1)
dtc = tree.DecisionTreeClassifier(criterion="entropy")
X_train, X_test, Y_train, Y_test = train_test_split(train_data, train_target, test_size=0.1)
clf = dtc.fit(X_train, Y_train)
print(clf.predict(X_test))
print(Y_test)
dot_data = tree.export_graphviz(clf, out_file=None)
#graph = graphviz.Source(dot_data)
#os.environ["PATH"] += os.pathsep + 'F:/Program Files/Graphviz2.38/bin/'
#graph.render("iris", view=True)

['S05' 'I10' 'I03' 'S03' 'P01' 'O05' 'O05' 'S15' 'I09' 'I08' 'Q05' 'R15'
 'I02' 'L03' 'Q03' 'I07' 'I01' 'I09' 'N05' 'S05' 'S05' 'M06' 'O06' 'J07'
 'N05' 'O03' 'J07' 'R03' 'M03' 'I09' 'S05' 'I02' 'M06' 'J06' 'L02' 'K07'
 'I03' 'J08' 'S01' 'M06' 'L06' 'I03' 'O05' 'K05' 'O04' 'M06' 'N06' 'P01'
 'O03' 'U15' 'J04' 'M04' 'P15' 'M05' 'U01' 'S05' 'I08' 'M04' 'Q05' 'K04'
 'K03' 'J02' 'J10' 'I04' 'I03' 'I01' 'R06' 'I08' 'S03' 'K01' 'I02' 'L15'
 'I02' 'I04' 'U02' 'P03' 'R01' 'O05' 'K02' 'J06' 'J03' 'M06' 'N03' 'Q05'
 'J05' 'W15' 'W15' 'I05' 'J08' 'J06' 'J07' 'I07' 'T15' 'I04' 'P02' 'J02'
 'M06' 'O05' 'O04' 'N05' 'R04' 'I03' 'I08' 'M02' 'O04' 'S06' 'J04' 'I04'
 'K07' 'K08' 'J03' 'K03' 'I01' 'Q03' 'I07' 'O05' 'S04' 'D13' 'K01' 'D15'
 'K04' 'O05' 'I03' 'O05' 'I04' 'R05' 'N05' 'N03' 'M02' 'O05' 'R05' 'J04'
 'N15' 'J01' 'J02' 'K05' 'R06' 'J06' 'R15' 'S04' 'D15' 'U05']
     location
102       S03
794       I10
534       K03
662       S05
237       N05
96        R03
1318      S01
615       S15
798       I09
783       J08
1019      Q05
599       R15
459       J01
1160      Q04
1333      R01
859       I07
1281      I03
522       I09
1357      P01
1184      U04
114       U04
323       M06
962       M06
914       J07
714       K08
70        M03
910       I07
1317      S01
66        M03
521       I09
...       ...
1401      J02
89        Q03
694       L06
1201      S03
661       S05
384       E15
338       K06
791       D15
179       K04
1198      T03
757       J02
1046      O05
1276      J03
670       S06
1049      N05
502       N02
498       N02
248       O05
293       S06
209       I05
390       L15
1377      N01
1073      K05
1124      M04
994       S06
774       J06
396       R15
124       S04
897       D15
113       U04

[142 rows x 1 columns]